<% @monster.each do |monster_data| %>
  <%= link_to(monster_datum_path(monster_data.monster_datum.id)) do %>
    <div class="posts-index-item">
      <div class="monster-ball-icon-for-monster">
        <% if monster_data.having_flag == 1 %>
          <%= image_tag('standard_ball.png') %>
        <% else %>
          <p>  </p>
        <% end %>
      </div>
      <div class="monster-detail-right">
        <div class="level-name" style="width: 80%;">
          <div class="monster-detail-level">
            Lv.<%= monster_data.level %>
          </div>
          <div class="monster-detail-name">
            <%= monster_data.name %>
          </div>
        </div>
        <div class="monster-detail-hp" style="width: 80%; margin-top: 10px;">
          <div class="progress">
            <% hp_ratio = (monster_data.hp_left/monster_data.hp.to_f)*100 %>
          	<div class="progress-bar <%= "progress-bar-warning" if hp_ratio >= 25 && hp_ratio < 50 %> <%= "progress-bar-danger" if hp_ratio < 25 %>" role="progressbar" style="width: <%= hp_ratio %>%;">
          	</div>
          </div>
          <p>HP: <%= monster_data.hp_left %>/<%= monster_data.hp %></p>
        </div>
      </div>
      <div class="post-left-for-monster">
        <%= image_tag(monster_data.monster_datum.image_name) %>
      </div>
      <div class="monster-change-btn">
        <%= link_to '手持ち', users_monster_having_path(monster_data.id), method: :post, remote: true, class: 'btn btn-primary btn-xs monster-delete-btn' %>
        <%= link_to '先頭', users_monster_first_path(monster_data.id), method: :post, remote: true, class: 'btn btn-success btn-xs monster-delete-btn' %>
        <%= link_to '外す', users_monster_have_path(monster_data.id), method: :post, remote: true, class: 'btn btn-warning btn-xs monster-delete-btn' %>
        <%= link_to '捨てる', users_monster_destroy_path(monster_data.id), method: :delete, remote: true, data: {confirm: "#{monster_data.name}とお別れしますか？"}, class: 'btn btn-danger btn-xs monster-delete-btn' %>
      </div>
    </div>
  <% end %>
<% end %>



<script type="text/javascript">
  $('.posts-index-item').css('background', '#FFFFFF');
  $('.posts-index-item').hover(function(){
    $(this).css('background', '#F5F5F5');
  }, function(){
    $(this).css('background', '');
  });
</script>
